# Docker Upstart and SysVinit configuration file

#
# THIS FILE DOES NOT APPLY TO SYSTEMD
#
#   Please see the documentation for "systemd drop-ins":
#   https://docs.docker.com/engine/admin/systemd/
#

# Customize location of Docker binary (especially for development testing).
DOCKERD="{{ dockerd_command }}"

# Use DOCKER_OPTS to modify the daemon startup options.
DOCKER_OPTS="{{ docker_opts }}"

# If you need Docker to use an HTTP proxy, it can also be specified here.
export http_proxy="{{ proxy }}"

# This is also a handy place to tweak where Docker's temporary files go.
#export DOCKER_TMPDIR="/mnt/bigdrive/docker-tmp"
